################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NUnitTest/.vs
/NUnitTest/bin/Debug/net8.0
/NUnitTest.Test/obj
/NUnitTest.Test/bin/Debug/net8.0
/NUnitTest/obj
